@model Gasto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>
<p>REVISAR EL DATO CONSORCIO QUE ELIMINÉ DEL FORMULARIO</p>
<h4>Gasto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ConsorcioId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ConsorcioId, (SelectList)ViewBag.Consorcios, "Seleccione un consorcio", new { @class = "form-control" })
                <span asp-validation-for="ConsorcioId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumeroFactura" class="control-label"></label>
                <input asp-for="NumeroFactura" class="form-control" />
                <span asp-validation-for="NumeroFactura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
            <select asp-for="Categoria"
                    asp-items="Html.GetEnumSelectList<CategoriaGasto>()"
                    class="form-select">
                <option value="">Seleccione una categoria</option>
            </select>
            </div>
            <span asp-validation-for="Categoria" class="text-danger"></span>


            @*<div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label for="archivoFactura" class="control-label">Adjuntar factura/comprobante</label>
                <input type="file" id="archivoFactura" name="archivoFactura" class="form-control" accept=".pdf,.jpg,.jpeg,.png" />
            </div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index">Volver</a>
</div>*@
